pkgbase = spot-launcher
	pkgdesc = Application and file launcher for GNOME
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/alarboulletmarin/spot
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = glib2
	optdepends = plocate: indexed file search
	source = spot-launcher-0.3.1.tar.gz::https://github.com/alarboulletmarin/spot/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = 6286d02dbab4a1e245d896d1447002256318eee2d4d387641bfd2a4e44781e86

pkgname = spot-launcher
