pkgbase = spot-launcher
	pkgdesc = Application and file launcher for GNOME
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/alarboulletmarin/spot
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = libadwaita
	depends = glib2
	optdepends = plocate: indexed file search
	source = spot-launcher-0.4.0.tar.gz::https://github.com/alarboulletmarin/spot/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 3800e175b28bde39caf38cddcca15cdd62756725390ec6c8f1f47c8c4379d902

pkgname = spot-launcher
