pkgbase = spot-launcher
	pkgdesc = Application and file launcher for GNOME
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/alarboulletmarin/spot
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = glib2
	optdepends = plocate: indexed file search
	source = spot-launcher-0.3.0.tar.gz::https://github.com/alarboulletmarin/spot/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = 64cb4b25ded1ce0680609c46f94782d96bd55b85303e8ecc94b0afbe3eacbdd2

pkgname = spot-launcher
