[Desktop Entry]
Type=Application
Name=Spot
Comment=Application and file launcher
Exec=spot
Icon=dev.andrea.Spot
Terminal=false
Categories=Utility;
Keywords=launcher;search;
StartupNotify=true
